* {
    margin: 0;
}

.box {
    background-color: rgb(229, 229, 229);
}
.right-panel{
    display: flex;
}
.logo-name {
    color: navy;
}
.logo{
    width: 40px;
    height: 40px;
}
.navbar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1
}
.container-fluid{
    position: relative;
}
.navbar-toggler{
    position: absolute;
    right: 20px;
    top: 0;
}
.copyright {
    color: white;
    background-color: navy;
    align-content: center;
    margin: 0;
    height: 50px;
    padding-left: 10px;
}

.sidebar {
    width: 280px;
    height: 100%;
    position: sticky;
    top: 70px;
    left: 0;
    display: block;
}

.sidebar-card {
    color: gray;
    border-radius: 0;
    border: none;
}

#left-arrow {
    display: flex;
}

#right-arrow {
    margin-right: 5px;
    display: none;
}

.list {
    position: relative;
}

h6.sidebar-link {
    padding-left: 8px;
    margin: 0;
}

.validation {
    color: red;
    margin: 0;
    display: none;
}

.mandatory {
    color: red;
}


@media screen and (max-width: 768px) {
    .logo-name {
        color: navy;
        font-size: 10px;
    }
    .logo{
        width: 25px;
        height: 25px;
        padding-left: 2px;
    }
    .sidebar{
        width: 100%;
    }
    
}

@media (min-width: 0px) {
    .d-md-flex {
        display: flex !important;
        justify-content: flex-end;
    }
}
